---
layout: default
---
{% include banner.html title='2022 MIFF' subtitle='Official Selection' color='black' %}
{% include film_row.html
    image='/assets/img/bella.jpeg'
    title='Bella'
    country='United States'
    director='Bridget Murnane'
    runtime=""
    subtitle=""
    content=""
   link="https://vimeo.com/684831514"
%}
{% include film_row.html
    image='/assets/img/persistence.jpeg'
    title='Persistence'
    country='United States'
    director="Christian Smooth"
    runtime=""
    subtitle=""
    content=""
%}
{% include film_row.html
    image='/assets/img/andsoibegin.jpeg'
    title="And So I Begin."
    country="United States"
    director="Margarethe Baillou"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/implant.jpeg'
    title="The Implant"
    country="United States"
    director="Jose Vasilio Torres"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/legends.jpeg'
    title="Legends of Burkittsville: 3 Days Before Heather Left"
    country="United States"
    director="Jeff Lukeski"
    runtime=""
    subtitle=""
    content=""
    link='https://www.youtube.com/watch?v=cF4hvF1BLXg'
%}
{% include film_row.html
    image='/assets/img/anxiety.jpeg'
    title="Anxiety Overcome"
    country="Luxembourg"
    director="Philippe Hamelle"
    runtime=""
    subtitle=""
    content=""
%}
{% include film_row.html
    image='/assets/img/iron.jpeg'
    title="IRON DREAM"
    country="France"
    director="DAVID FAKRIKIAN"
    runtime=""
    subtitle=""
    content=""
%}