---
layout: default
---
{% include banner.html title='2021 MIFF' subtitle='Official Selection' color='black' %}
{% include film_row.html
    image='/assets/img/thumbnail_affiche-JUST%20A%20FLING-Eng.jpeg'
    title='PASSADE (JUST A FLING)'
    country='France'
    director='Gorune Aprikian'
    runtime=""
    subtitle=""
    content=""
%}
{% include film_row.html
    image='/assets/img/WechatIMG5983.jpeg'
    title='The Ready To Go'
    country='China'
    director="Li Xin"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/32a3ef656d-poster.jpeg'
    title="tethered"
    country="United States"
    director="Gaia Alari"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/8035d8279e-poster.jpeg'
    title="A NEW YORK STORY"
    country="United States"
    director="Paul Schwartz"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/WechatIMG5984.jpeg'
    title="By Your Side"
    country="China"
    director="Xiangyang Yang"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/b4f235cd01-poster.jpeg'
    title="RUINS"
    country="United States"
    director="Jay Mohan"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/WechatIMG6006.jpeg'
    title="Half Fearless"
    country="China"
    director="Xiangfeng Xu"
    runtime=""
    subtitle=""
    content=""
    
%}



{% include film_row.html
    image='/assets/img/b86790dc1d-poster.jpeg'
    title="This Case & My Life"
    country="United States"
    director="Ana A P Braunstein"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/c89f9f77d2-poster.jpeg'
    title="The Feast"
    country="United States"
    director="Zeb Blair"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/cb12cfe104-poster.jpeg'
    title="A Tale of Three Chinatowns"
    country="United States"
    director="Lisa Mao"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/ce545199ca-poster.jpeg'
    title="DIRT"
    country="United States"
    director="Alex Rudegeair"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/d1a3c0ecb1-poster.jpeg'
    title="GRATEFUL TO HAVE YOU"
    country="China"
    director="Jia Su"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/d29ebe726a-poster.jpeg'
    title="Breasts and Thighs"
    country="United States"
    director="Goldie Krauss"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/d81b222dff-poster.jpeg'
    title="The Blue Tooth Virgin"
    country="United States"
    director="Russell Brown"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/edc9371c3c-poster.jpeg'
    title="The Issue with Elvis"
    country="United States"
    director="Charlotte Wincott"
    runtime=""
    subtitle=""
    content=""
    
%}
