---
layout: default
---
{% include banner.html title='MIFF 2021' subtitle='Featured Films' color='black' %}
{% include film_row.html
    image='/assets/img/Screen%20Shot%202021-08-17%20at%207.16.43%20AM.png'
    title='PASSADE (JUST A FLING)'
    country='Sweden'
    director='Gorune Aprikian'
    runtime=""
    subtitle=""
    content=""
    link="#"
%}
{% include film_row.html
    image='./img/les-salopes-01.png'
    title='Les Salopes'
    country='Canada'
    director="Renee Beaulieu"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=Agqo42vhFj0&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=17&t=8s"
%}
{% include film_row.html
    image='./img/StudyAbroad.jpg'
    title="Study Abroad"
    country="United States"
    director="Dahang Wei"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=XtUeQLJubOk&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=10&t=0s"
%}
{% include film_row.html
    image='./img/free-slave-01.png'
    title="Free Slave"
    country="Turkey"
    director="Mehmet Tanrisever"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=1Yc3H6XHlDg&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=2&t=0s"
%}
{% include film_row.html
    image='./img/our-forty-years-01.jpg'
    title="Our Forty Years"
    country="China"
    director="Li Yixiang, Bao Zhenjiang & Li Zhenwei/Huo Meng"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=FgpF1CSVbRQ&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=8&t=0s"
%}
{% include film_row.html
    image='./img/lost-rainbow-01.png'
    title="Lost Rainbow: The Return of Ancient Pendant"
    country="China"
    director="Zhijun He"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=Sl3_b0NJDjk&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=6&t=0s"
%}
{% include film_row.html
    image='./img/the-town-of-owls-01.png'
    title="The Town of Owls"
    country="Morocco"
    director="Azilarabe Alaoui"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=_uLu4hF2LP4&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=5&t=0s"
%}
{% include film_row.html
    image='./img/underwood.jpg'
    title="Underwood"
    country="United States"
    director="John Mcloughlin"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=CZxlI2K2QCs&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=12&t=0s"
%}
{% include film_row.html
    image='./img/a-shot-in-the-night-01.png'
    title="A Shot in the Night"
    country="Argentina"
    director="Alejandro Diez"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=p1ZsUirSxeI&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=16&t=4s"
%}
{% include film_row.html
    image='./img/the-good-death-01.png'
    title="The Good Death"
    country="Slovakia"
    director="Tomas Krupa"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=FPvOCHaQvNY&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=14&t=0s"
%}
{% include film_row.html
    image='./img/how-big-is-our-galaxy-01.png'
    title="How Big is our Galaxy"
    country="Russia"
    director="Ksenia Elyan"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=IJdCPTluCD8&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=15&t=0s"
%}
{% include film_row.html
    image='./img/the-last-chance-01.jpg'
    title="The Last Chance"
    country="United States"
    director="Yi Wei"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=PM3DcVGvUHg&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=9&t=0s"
%}
{% include film_row.html
    image='./img/the-omusinde-01.png'
    title="The Omusinde (The Boy)"
    country="Uganda"
    director="Zziwa Aaron Alone"
    runtime=""
    subtitle=""
    content=""
%}
{% include film_row.html
    image='./img/the-little-beast-01.png'
    title="The Little Beast"
    country="Spain"
    director="Jordi Ardid"
    runtime=""
    subtitle=""
    content=""
%}
{% include film_row.html
    image='./img/the-words-01.png'
    title="The Words"
    country="Iran"
    director="Ali Ettehad"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=SInsqRlLU9E&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=13&t=0s"
%}
<!-- Also on the screen-->
{% include film_row.html
    image='./img/dark-light-01.png'
    title="Dark Light"
    country="India"
    director="Mayur Hardas"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=h4vIhd5egc8&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=7&t=0s"
%}
{% include film_row.html
    image='./img/shot-01.png'
    title="Shot"
    country="United States"
    director="Jeremy Kagan"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=8RwUHooRlbE&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=20&t=0s"
%}
{% include film_row.html
    image='./img/legend-liu-yi.png'
    title="The Legend of Liu Yi"
    country="China"
    director="Deng Yuan & Pan Jun"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=aEF3xvzocRc&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=4&t=0s"
%}
{% include film_row.html
    image='./img/rope-trick-01.png'
    title="Rope Trick"
    country="United States"
    director="Kirk Ryde"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=D7qUFiZknPA&feature=youtu.be"
%}
{% include film_row.html
    image='./img/norman-01.png'
    title="NORMAN"
    country="United States"
    director="Joel Guelzo"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=lXtEJXJKnac&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=21&t=0s"
%}
{% include film_row.html
    image='./img/the-vipers-hex.jpg'
    title="The Viper's Hex"
    country="Japan"
    director="Addison Heath & Jasmine Jakupi"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=wsFBdLFDv9k&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=19&t=0s"
%}
{% include film_row.html
    image='./img/lost-girls-01.png'
    title="Lost Girls"
    country="United States"
    director="Julia Verdin"
    runtime=""
    subtitle=""
    content=""
    link="https://www.youtube.com/watch?v=syYMonfjBeU&list=PLP8zsQU0CzuqENBIm-oUUSyX7k202wzgD&index=18&t=0s"
%}
{% include film_row.html
    image='./img/elder.jpg'
    title="Elder"
    country="United States"
    director="Dahang Wei"
    runtime=""
    subtitle=""
    content=""
%}
