---
layout: default
---
{% include banner.html title='MIFF 2021' subtitle='International Advisory Guests' color='yellow' %}
{% include item_row.html
  image='/assets/img/Marc Baschet（2021MIFF评委会主席）.jpg'
  title='Marc Baschet'
  content="Marc Baschet has been producing TV films and series, as well as
  many feature films for years. Marc become an Oscar winning producer
  with No Man's Land after already receiving an Oscar nomination for
  producing Before the Rain. Recently, he produced the Lunchbox by
  Ritesh Batra (Cannes 2013 Critic's Week) which has seen success all over
  the world, and Album by Mehmet Can Mertoglu (Turkey) which won the
  <i>revealation award</i> at Critic's week in 2016."
%}
{% include item_row.html
  image='/assets/img/鲍振江.jpg'
  title='Zhenjiang Bao'
  content="Actor, screenwriter, director, producer.
 
In 2001, the film <i>Anyang Baby</i> (production director) was shortlisted for the Director Fortnight at the 54th Cannes International Film Festival.
 
In 2003, the film <i>Blind Well</i> (main role) won the Outstanding Artistic Achievement Award at the 53rd Berlin International Film Festival.
 
In 2009, the film <i>Phoenix Ridge</i> (co-writer, screenwriter, starring) was nominated for the 13th Huabiao Awards for Outstanding Film.
 
In 2011, he starred in the short film <i>Juvenile Scavengers</i> and won the Golden Horse Award for Best Creative Short Film at the 49th Taipei Golden Horse Film Festival.
 
In 2012, the starring movie <i>On the Road</i> was shortlisted for the main competition film of the 19th Beijing University Student Film Festival.
 
In 2015, he starred in <i>Beijing Deep</i> and won the Best Actor Award in the first Asian International (Wenzhou) Youth Micro Film Exhibition.

Best Actor Award in the 2015 Beijing Film Academy <i>Academy Award</i> Short Film Contest.
 
In 2019, the film <i>Our Forty Years</i> (co-writer, director and starring) won the Golden Angel Award from the Jury of the 15th China-US Film Festival
 
The 2021 film <i>Thank you for warming me</i> (producer) was shortlisted for the closing ceremony of the 24th Shanghai International Film Festival.
 
The 2021 movie <i>Up the Mountain</i> (screenwriter Bao Zhenjiang, Wang Xiaoshuai) was shortlisted for the main competition unit of the Golden Goblet Award at the 24th Shanghai International Film Festival.
 
In 2021, the lead starring film <i>Beijing 120</i> won the Best Actor award at the Five Continents International Film Festival.<br>鲍振江
 
演员，编剧，导演，制片人。
 
2001年电影《安阳婴儿》（制片主任）入围第54届戛纳国际电影节导演双周单元。
 
2003年电影《盲井》（主要角色）获得第53届柏林国际电影节杰出艺术成就奖。
 
2009年电影《凤凰岭》（联合编编剧、主演）获得第十三届华表奖优秀影片提名。
 
2011年主演短片电影《拾荒少年》 获得第四十九届台北金马影展金马奖最佳创作短片奖。
 
2012年主演电影《放映路上》入围第19届北京大学生电影节主竞赛影片。
 
2015年主演《北京深处》并在首届亚洲国际(温州)青年微电影展中获得最佳男演员奖。

2015年度北京电影学院学院奖短片大赛最佳男主角奖。
 
2019年电影《我们的四十年》（联合编剧、导演  主演）获得第十五届中美电影节评委会金天使奖
 
2021年电影《谢谢你温暖了我》（制片人）入围第二十四届上海国际电影闭幕式单元。
 
2021年电影《上山》（编剧 鲍振江、王小帅）入围第二十四届上海国际电影节金爵奖主竞赛单元。 
 
2021年领衔主演电影《北京120》 （《Beijing 120》）在五大洲国际电影节斩获最佳男主角奖。

"
%}
{% include item_row.html
  image='/assets/img/EricCLindstrom FARM5.jpg'
  title='Eric C Lindstrom'
  content="Eric C Lindstrom was born a cartoonist in Queens, New York and was raised on media, marketing, and design. From producer, to director, and host of <i>The Skeptical Vegan,</i> Eric's life took a 180 when we went vegan overnight (from a very carnivorous upbringing). This lifestyle change led to two books, the successful <i>The Skeptical Vegan</i> (Skyhorse Publishing 2018) and <i>The Smart Parent's Guide to Raising Vegan Kids,</i> Eric has taken his love for film and television to create a vegan variety show (named after <i>The Skeptical Vegan</i>). You can find out more at TheSkepticalVegan.com."
%}
{% include item_row.html
  image='./img/nikki-bohm.jpg'
  title='Nikki Bohm'
  content="Nikki Bohm is an actor and filmmaker born in Zagreb, Croatia.
  She graduated from The American Academy of Dramatic Arts in New York
  and attended the Royal Academy of Dramatic Arts in London, UK.
  Nikki has written and directed experimental films which have screened around the
  world including the prestigious Sitges festival in Spain, and she has directed
  theatrical stage productions in Los Angeles, CA."
%}
{% include item_row.html
  image='./img/kirk-ryde.png'
  title='Kirk Ryde'
  content="Kirk Ryde is a filmaker and actor based in Los Angeles, CA.
  He received an MFA in Film and Television from UCLA where he won the Jack Nicholson
  Award for Screenwriting. Kirk's award-winning films have screened at film festivals
  around the world, and as an actor he has appeared in several independent films as well
  as on NBV Television and Curiosity Stream. He recently returned from China where he was a
  Visiting Professor at the Beijing Film Academy and is the founder of Kleer Bros. Entertainment,
  an independent production house that works with film festivals worldwide to help discover and promote
  new writers and filmmakers."
%}
{% include item_row.html
  image='./img/geoff_browne.jpeg'
  title='Geoff Browne'
  content="Geoff Browne is an experienced documentary director, cameraman, and screenwriter.
  He shoots in some of the most challenging circumstances and environments in all corners of the world, and has
  shot for two-time Oscar winning director Malcolm Clarke on his award-winning movies. Browne has worked with LAPD and DEA shooting
  raids and arrests, and has directed PSAs with Tom Hanks, Rita Wilson, Jane Fonda, and others on behalf of UNICEF and the ASPCA."
%}
{% include item_row.html
  image='./img/david-thomas.png'
  title='David Thomas'
  content="David Thomas is an outstanding soundtrack composer in artistic and documentary films. His work includes music <i>The Salopes or the Natural Sucre of the Peau</i>
  by Renée Beaulieu, and soundtracks for short films <i>Life, Death</i> and <i>The Hearing</i>."
%}
{% include item_row.html
  image='./img/giovanna-salas.png'
  title='Giovanna Salas'
  content="Giovanna Salas is a film producer, businesswoman, and screenwriter of the series <i>Hollywood or Bust</i>.
  She is also the founder of several organizations supporting talent from minority groups within the Hollywood Industry."
%}
{% include item_row.html
  image='./img/b-k-coposky.png'
  title='B.K. Coposky'
  content="B.K. Coposky is an international producer and represents top talent in film. His company Riwayat Films is based both
  in New York City and Asia."
%}
{% include item_row.html
  image='./img/guy-renardeau.jpeg'
  title='Guy Renardeau'
  content="Guy Renardeau is a multi-award-winning composer, songwriter, producer, musician, and filmmaker.
  Guy studied at the Hochschule für Musik in Cologne, Germany, and has worked on award-winning films in the US and Europe.
  Guy was also a member of the Performing Arts Fund NL, a premier cultural fund in the Netherlands.
  "
%}
{% include item_row.html
  image='./img/ashish-wagh.jpeg'
  title='Ashish Wagh'
  content="Ashish Wagh is a Founder at <i>Dreams Beyond Entertainment, USA</i>, a
  Co-Founder and Managing Director of <i>Indian Film Studios Private Limited</i>
  and Managing Partner at <i>Merry Go Round Studios</i>. Ashish has produced films with
  Oscar winning producer Marc Baschet, and has 18 years of experience in Production, Theatrical Distribution,
  Marketing, and Sales in Bollywood, Hollywood, and Regional Films in India, and has released more than 500 films."
%}
