---
layout: default
---
{% include banner.html title='MIFF 2019'  subtitle='Photo Gallery' color='red' %}
<!-- page.my_array is ['a', 'b', 'c'] -->
<!-- if my_array = "Tobi", "Laura", "Tetsuro", "Adam" -->
<br>
{% include image_gallery.html
    images="1.jpg, 2.jpg, 3.jpg, IMG_2519.jpg, 4.jpg, 5.jpg, 6.jpg, 7.jpg, 8.jpg, 9.jpg, 10.jpg, 11.jpg, 12.jpg, 
13.jpg, 14.jpg, 15.jpg, 16.jpg, 17.jpg, 18.jpg, 19.jpg, 20.jpg, 21.jpg, 22.jpg, IMG_1913.jpg, IMG_2465.jpg, IMG_2466.jpg, 
IMG_2467.jpg, IMG_2468.jpg, IMG_2469.jpg, IMG_2470.jpg, IMG_2471.jpg, IMG_2472.jpg, IMG_2473.jpg, IMG_2474.jpg, IMG_2475.jpg, 
IMG_2476.jpg, IMG_2477.jpg, IMG_2478.jpg, IMG_2479.jpg, IMG_2480.jpg, IMG_2481.jpg, IMG_2482.jpg, IMG_2483.jpg, IMG_2484.jpg, 
IMG_2498.jpg, IMG_2499.jpg, IMG_2500.jpg, IMG_2501.jpg, IMG_2502.jpg, IMG_2503.jpg, IMG_2504.jpg, IMG_2505.jpg, IMG_2506.jpg, 
IMG_2507.jpg, IMG_2508.jpg, IMG_2509.jpg, IMG_2510.jpg, IMG_2511.jpg, IMG_2512.jpg, IMG_2513.jpg, IMG_2514.jpg, IMG_2515.jpg, 
IMG_2516.jpg, IMG_2517.jpg, IMG_2518.jpg, IMG_2519.jpg"    
%}