---
layout: default
---
{% include banner.html title='2022 MIFF' subtitle='Jury Members' color='yellow' %}
{% include item_row.html
  image='/assets/img/Marc Baschet（2021MIFF评委会主席）.jpg'
  title='Marc Baschet'
  content="Marc Baschet has been producing TV films and series, as well as
  many feature films for years. Marc become an Oscar winning producer
  with No Man's Land after already receiving an Oscar nomination for
  producing Before the Rain. Recently, he produced the Lunchbox by
  Ritesh Batra (Cannes 2013 Critic's Week) which has seen success all over
  the world, and Album by Mehmet Can Mertoglu (Turkey) which won the
  <i>revealation award</i> at Critic's week in 2016."
%}
{% include item_row.html
  image='/assets/img/EricCLindstrom FARM5.jpg'
  title='Eric C Lindstrom'
  content="Eric C Lindstrom was born a cartoonist in Queens, New York and was raised on media, marketing, and design. From producer, to director, and host of <i>The Skeptical Vegan,</i> Eric's life took a 180 when we went vegan overnight (from a very carnivorous upbringing). This lifestyle change led to two books, the successful <i>The Skeptical Vegan</i> (Skyhorse Publishing 2018) and <i>The Smart Parent's Guide to Raising Vegan Kids,</i> Eric has taken his love for film and television to create a vegan variety show (named after <i>The Skeptical Vegan</i>). You can find out more at TheSkepticalVegan.com."
%}
{% include item_row.html
  image='/assets/img/Yubai%20Zhang.jpg'
  title='Yubai Zhang'
  content="Actress, of cinema but also of theater, TV presenter and producer, Yubai takes her first steps in cinema and television, we will see her alongside Alice Taglioni and Virginie Effira in the film <i>Cookie</i> by Léa Fazer and <i>L 'ensemble c'est trop</i> by the same director. <i>Oil on Fire</i> by Nicolas Benamou she plays with Vincent Lecost, Fatsah Bouyahmed, <i>The change of course</i> with Didier Wampas. In 2019, she landed the main role in the feature film <i>Last Chance</i> and which won her the award for best actress in the Montgomerry Washion Festival. At the same time, she is a presenter for <i>KYOU</i>, a weekly program devoted to video games and geek culture on France 3, a national channel. For France 2, she plays in the series <i>Do not do this, do not do that</i>.<br>
Actrice, de cinéma mais aussi de théâtre, présentatrice TV et productrice, Yubai fait ses premiers pas au cinéma et la télévision, on la verra ainsi aux côtés d’Alice Taglioni et Virginie Effira dans le film « Cookie » de Léa Fazer et « L’ensemble c’est trop » de même réalisatrice.  « De L’huile sur le Feu » de Nicolas Benamou elle joue avec Vincent Lecost, Fatsah Bouyahmed, « Le changement de cap » avec Didier Wampas. En 2019, elle a décroché le rôle principal dans le long métrage «  Last Chance » et qui lui fait gagner le prix de meilleur actrice dans le Festival Montgomerry Washion . En parallèle, elle est présentatrice pour « KYOU », une émission hebdomadaire consacrée aux jeux vidéos et à la culture geek sur France 3, chaine nationale. Pour France 2, elle joue dans la série « Fais pas ci, fais pas ça »."
%}
{% include item_row.html
  image='/assets/img/Stan.jpeg'
  title='Stan Thiébaut'
  content="Stan Thiébaut est issu du monde de la musique. Pendant plus d'une décennie il va cotoyer les plus grands noms de la musique. Etta James, Georges Benson, Grover Washington Jr, Miles Davis, Chick Corea, Tony Allen ou Manu Dibango. En répondant à une audition Stan Thiébaut intègre la distribution ainsi que l'Ecole de Théâtre de Paris de la metteur en scène Colette Louvois qui lui offre une formation complète de trois ans. Il s'entraîne parallèlement en jouant dans de nombreux courts-métrages. Des réalisateurs comme Thomas Gillou, Josée Dayan ou Billie August lui feront confiance. En sus de ces expériences il sert de nombreux auteurs de théâtre, sa passion première, de Shakespeare à Racine en passant par David Mamet, Victor Hugo Molière ou Enzo Cormann.
<br>
Il occupe depuis trois ans la place de directeur artistique du festival de Paris l'Afrique fait son cinéma, a été jury en Centrafrique pour Bangui fait son cinéma. Il animera des masterclass acting lors de la 3 ème édition du festival Les Terrangas de Dakar au Sénégal. <br>
Il vient récemment de rejoindre l'équipe de 2 PG Pictures en tant qu'associé, société spécialisée dans la production et distribution de longs métrages Africains. <br>
Stan Thiebaut est un passionné d'art sous toutes ses formes.
"
%}
