---
layout: default
---
{% include banner.html title='2022 Festival' subtitle='in retrospective' color='red' %}
<center><img src='assets/img/winner.png' /></center>
<center><h2>Jury Members</h2></center>
{% include item_row.html
  image='/assets/img/Marc Baschet（2021MIFF评委会主席）.jpg'
  title='Marc Baschet'
  content="Marc Baschet has been producing TV films and series, as well as
  many feature films for years. Marc become an Oscar winning producer
  with No Man's Land after already receiving an Oscar nomination for
  producing Before the Rain. Recently, he produced the Lunchbox by
  Ritesh Batra (Cannes 2013 Critic's Week) which has seen success all over
  the world, and Album by Mehmet Can Mertoglu (Turkey) which won the
  <i>revealation award</i> at Critic's week in 2016."
%}
{% include item_row.html
  image='/assets/img/EricCLindstrom FARM5.jpg'
  title='Eric C Lindstrom'
  content="Eric C Lindstrom was born a cartoonist in Queens, New York and was raised on media, marketing, and design. From producer, to director, and host of <i>The Skeptical Vegan,</i> Eric's life took a 180 when we went vegan overnight (from a very carnivorous upbringing). This lifestyle change led to two books, the successful <i>The Skeptical Vegan</i> (Skyhorse Publishing 2018) and <i>The Smart Parent's Guide to Raising Vegan Kids,</i> Eric has taken his love for film and television to create a vegan variety show (named after <i>The Skeptical Vegan</i>). You can find out more at TheSkepticalVegan.com."
%}
{% include item_row.html
  image='/assets/img/Yubai%20Zhang.jpg'
  title='Yubai Zhang'
  content="Actress, of cinema but also of theater, TV presenter and producer, Yubai takes her first steps in cinema and television, we will see her alongside Alice Taglioni and Virginie Effira in the film <i>Cookie</i> by Léa Fazer and <i>L 'ensemble c'est trop</i> by the same director. <i>Oil on Fire</i> by Nicolas Benamou she plays with Vincent Lecost, Fatsah Bouyahmed, <i>The change of course</i> with Didier Wampas. In 2019, she landed the main role in the feature film <i>Last Chance</i> and which won her the award for best actress in the Montgomerry Washion Festival. At the same time, she is a presenter for <i>KYOU</i>, a weekly program devoted to video games and geek culture on France 3, a national channel. For France 2, she plays in the series <i>Do not do this, do not do that</i>.<br>
Actrice, de cinéma mais aussi de théâtre, présentatrice TV et productrice, Yubai fait ses premiers pas au cinéma et la télévision, on la verra ainsi aux côtés d’Alice Taglioni et Virginie Effira dans le film « Cookie » de Léa Fazer et « L’ensemble c’est trop » de même réalisatrice.  « De L’huile sur le Feu » de Nicolas Benamou elle joue avec Vincent Lecost, Fatsah Bouyahmed, « Le changement de cap » avec Didier Wampas. En 2019, elle a décroché le rôle principal dans le long métrage «  Last Chance » et qui lui fait gagner le prix de meilleur actrice dans le Festival Montgomerry Washion . En parallèle, elle est présentatrice pour « KYOU », une émission hebdomadaire consacrée aux jeux vidéos et à la culture geek sur France 3, chaine nationale. Pour France 2, elle joue dans la série « Fais pas ci, fais pas ça »."
%}
{% include item_row.html
  image='/assets/img/Stan.jpeg'
  title='Stan Thiébaut'
  content="Stan Thiébaut est issu du monde de la musique. Pendant plus d'une décennie il va cotoyer les plus grands noms de la musique. Etta James, Georges Benson, Grover Washington Jr, Miles Davis, Chick Corea, Tony Allen ou Manu Dibango. En répondant à une audition Stan Thiébaut intègre la distribution ainsi que l'Ecole de Théâtre de Paris de la metteur en scène Colette Louvois qui lui offre une formation complète de trois ans. Il s'entraîne parallèlement en jouant dans de nombreux courts-métrages. Des réalisateurs comme Thomas Gillou, Josée Dayan ou Billie August lui feront confiance. En sus de ces expériences il sert de nombreux auteurs de théâtre, sa passion première, de Shakespeare à Racine en passant par David Mamet, Victor Hugo Molière ou Enzo Cormann.
<br>
Il occupe depuis trois ans la place de directeur artistique du festival de Paris l'Afrique fait son cinéma, a été jury en Centrafrique pour Bangui fait son cinéma. Il animera des masterclass acting lors de la 3 ème édition du festival Les Terrangas de Dakar au Sénégal. <br>
Il vient récemment de rejoindre l'équipe de 2 PG Pictures en tant qu'associé, société spécialisée dans la production et distribution de longs métrages Africains. <br>
Stan Thiebaut est un passionné d'art sous toutes ses formes.
"
%}
{% include item_row.html
  image='/assets/img/pauline.jpeg'
  title='PAULINE SYLVIANE'
  content="• Short fim direction: 'TALITHA KUMI' Duration 26 mn （2018 – 2019）
Second role in the short film 'AUREVOIR PARIS' Directed by Coralie MADJOUGA; Produced by 'Les produits frais': Broadcast by France 2 Television (2017 - 2018)
<br>
• Direction of four episodes of the television series ' L'AMOUR DE L'AFRIQUE' Duration: 26 mn / episode: TVCA broadcasting-Country:  Central African Republic (2014 - 2018)
<br>
• Direction and main character of 'CLARA' in the short film 'BIENVENUE EN FRANCE': Duration 30 mn; Diffusion DVD Country France (2012 - 2013)<br>
• Direction of Telefilm 'SOPHIA LA BANGUISSOISE': Duration 45 mn: Broadcasting: TVCA - Country: Central African Republic (2008 - 2010)<br>
General Delegate and Founder<br>
SINCE 2020<br>
• International Festival of African and Afro-descendant films 'Bangui Fait Son Cinéma'<br>
President of 'ACPAD'<br>
SINCE 2014<br>
• Central African Association for 'Audiovisual Promotion and Development' (ACPAD)
"
%}
<center><h2>Official Selection</h2></center>
{% include film_row.html
    image='/assets/img/bella.jpeg'
    title='Bella'
    country='United States'
    director='Bridget Murnane'
    runtime=""
    subtitle=""
    content=""
   link="https://vimeo.com/684831514"
%}
{% include film_row.html
    image='/assets/img/persistence.jpeg'
    title='Persistence'
    country='United States'
    director="Christian Smooth"
    runtime=""
    subtitle=""
    content=""
%}
{% include film_row.html
    image='/assets/img/andsoibegin.jpeg'
    title="And So I Begin."
    country="United States"
    director="Margarethe Baillou"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/implant.jpeg'
    title="The Implant"
    country="United States"
    director="Jose Vasilio Torres"
    runtime=""
    subtitle=""
    content=""
    
%}
{% include film_row.html
    image='/assets/img/legends.jpeg'
    title="Legends of Burkittsville: 3 Days Before Heather Left"
    country="United States"
    director="Jeff Lukeski"
    runtime=""
    subtitle=""
    content=""
    link='https://www.youtube.com/watch?v=cF4hvF1BLXg'
%}
{% include film_row.html
    image='/assets/img/anxiety.jpeg'
    title="Anxiety Overcome"
    country="Luxembourg"
    director="Philippe Hamelle"
    runtime=""
    subtitle=""
    content=""
%}
{% include film_row.html
    image='/assets/img/iron.jpeg'
    title="IRON DREAM"
    country="France"
    director="DAVID FAKRIKIAN"
    runtime=""
    subtitle=""
    content=""
%}
  
{% include summary_row.html
  image='./assets/img/WechatIMG5128.jpeg'
  id='about'
  title='Celebrating Art House Films'
  content="We aim to foster a community of free thinking filmakers, those who are
  pushing the boundaries of sound and vision into a new frontier.
  We believe the world is ready for the reemergence of Art House films, and
  we are bringing distributors, filmmakers, media, and fans together to
  achieve global awareness of this vital art form. All are welcome to join
  our party at the beautiful Montgomery County in Maryland. We look forward to
  seeing you there!<br>"
%}
{% include summary_row.html
  reverse=true
  image='./assets/img/front-page2.png'
  title='Supporting MIFF'
  content="We rely on our sponsors and supporters to support the
  Montgomery International Film Festival and help us to promote
  and celebrate Art House Films from beautiful Montgomery County Maryland. Interested?
  Reach out to us for more info on how to become a sponsor, co-organizer, or donor for the
  upcoming 2020 festival!<br><a class='important' href='/sponsor'>Become a sponsor</a>"
%}
<center><a href='https://www.hipcamp.com/en-US/discover/maryland/auguste-w-s-land'><img width='60%' src='assets/img/Paradise Club（赞助商 图片链接）.jpg' /></a></center>
<center><a href='https://farmusa.org/'><img width='60%' src='assets/img/www.farmusa.org（赞助商 图片链接）.jpg' /></a></center>
<center><a href='https://www.shaleva.com'><img width='60%' src='assets/img/截屏2021-08-19%20下午6.22.08.png' /></a></center>  
<center><a href='https://www.future-reimagined.org'><img width='60%' src='assets/img/1.jpeg' /></a></center>
<center><img width='60%' src='assets/img/2.jpeg' /></center>
<center><a href='https://ucausa.org/uca-waves/'><img width='60%' src='assets/img/3.jpeg' /></a></center>
<center><a href='https://ucausa.org/about-uca/'><img width='60%' src='assets/img/4.jpeg' /></a></center>
<center><a href='https://marylandfilm.org/'><img width='60%' src='assets/img/5.png' /></a></center>
<div style='margin-bottom: 70px;margin-top: 20px;'>
  <center><h1>Maryland supports MIFFUS</h1>
    <a href='assets/img/gov-larry-hogan-letter.png' download><img width='32%' style='margin-right: 1%;' src='assets/img/gov-larry-hogan-letter.png' /></a>
  <a href='assets/img/marc-elrich-letter.png' download><img width='32%' style='margin-right: 1%;' src='assets/img/marc-elrich-letter.png' /></a>
  <a href='assets/img/david-trone-letter.png' download><img width='32%' src='assets/img/david-trone-letter.png' /></a>
</center>
</div>