---
layout: default
---
{% include banner.html title='2019 Festival' subtitle='in retrospective' color='red' %}
{% include quote.html
  content="In 2019 we held the <b>first ever</b> Montgomery International Film Festival
  in beautiful <b>Gaithersburg,&nbsp;Maryland</b>.<br>
  Here are some of the highlights from the festival!"
%}
{% include summary_row.html
  image='./img/films.png'
  title='Films'
  content="In our inaugural year we welcomed film-makers from over a dozen countries,
  with a diverse set of projects. We've collected some of our favorite films from
  last year here."
  link='miffus.com/films-2019'
  link_text='See 2019 Films'
%}
{% include summary_row.html
  reverse=true
  image='./img/panelists.png'
  title='Guests and Panelists'
  content="The Montgomery International Film Festival hosted some
  amazing jury members, panelists, and honorary guests for our inaugural year.
  Check out some of our amazing guests here."
  link='miffus.com/guests-2019'
  link_text='See 2019 Honorary Guests and Panelists'
%}
{% include summary_row.html
  image='./img/gallery.png'
  title='Gallery'
  content="See photos from last year's celebration. Hope to see everyone again in 2020!"
  link='miffus.com/gallery-2019'
  link_text='Go to MIFF 2019 Gallery'
  %}
{% capture submissions_blurb %}
Submit your film for consideration <a class='important' href='/submission'>here</a>
{% endcapture %}
{% include banner.html
  title='Interested in screening at the 2021 Festival?'
  subtitle=submissions_blurb
%}
