---
layout: default
---
{% include banner.html title='2019 Panelists' subtitle='in retrospective' color='red' %}
{% include item_row.html
  image='./img/marc-baschet.png'
  title='Marc Baschet'
  content="A producer that has been producing TV films and series, as well as
  many feature films for years. Marc become an Oscar winning producer
  with No Man's Land after already receiving an Oscar nomination for
  producing Before the Rain. Recently, he produced the Lunchbox by
  Ritesh Batra (Cannes 2013 Critic's Week) which has seen success all over
  the world, and Album by Mehmet Can Mertoglu (Turkey) which won the
  <i>revealation award</i> at Critic's week in 2016."
%}
{% include item_row.html
  image='./img/nikki-bohm.jpg'
  title='Nikki Bohm'
  content="Nikki Bohm is an actor and filmmaker born in Zagreb, Croatia.
  She graduated from The American Academy of Dramatic Arts in New York
  and attended the Royal Academy of Dramatic Arts in London, UK.
  Nikki has written and directed experimental films which have screened around the
  world including the prestigious Sitges festival in Spain, and she has directed
  theatrical stage productions in Los Angeles, CA."
%}
