<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <!-- {%- if default.hero -%}
    <img class='hero-img' src='assets/img/hero.png'>
  {%- endif -%} -->
    <!-- <img class='hero-img' src='assets/img/hero.png'> -->
    <div class='hero-div'>
      <a href="https://filmfreeway.com/MontgomeryInternationalFilmFestival" style="position: absolute;left: 26px;top: 5px;color: transparent;font-size: 300px;">test</a>
      <div class='wrapper' style="display: flex;align-items: center;margin-bottom:20px">
        <center><a href="https://filmfreeway.com/MontgomeryInternationalFilmFestival"><button style="background:yellow;font-size:20px">Submit Now</button></a><br></center>
        <center><a href="https://paypal.me/miffus?locale.x=en_US"><button style="background:yellow;font-size:20px">Donate</button></a><br></center>
      </div>
    </div>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
