<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <!-- {%- if default.hero -%}
    <img class='hero-img' src='assets/img/hero.png'>
  {%- endif -%} -->
    <!-- <img class='hero-img' src='assets/img/hero.png'> -->
    <div class='hero-div'>
      <div class='wrapper'>
        <h1>Return to Art House Films</h1>
        <center><a href='/retrospective'>2019 Repo</a><br></center>
        <center><a href='https://paypal.me/miffus?locale.x=en_US'>Donate</a><br></center>
      </div>
    </div>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
