<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <!-- {%- if default.hero -%}
    <img class='hero-img' src='assets/img/hero.png'>
  {%- endif -%} -->
    <!-- <img class='hero-img' src='assets/img/hero.png'> -->
    <div class='hero-div'>
      <div class='wrapper'>
        <center><h1 style="font-family: 'Ghoulish Fright AOE', sans-serif;color:yellow">Back to Art</h1></center>
        <center><a href='/retrospective'>2019 Repo</a><br></center>
        <center><a href='https://www.inbetweenus.org/'>In Between Us</a><br></center>&nbsp;<br>
        <center><a href="https://paypal.me/miffus?locale.x=en_US"><button style="background:yellow;font-size:20px">Donate</button></a><br></center>
      </div>
    </div>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
